 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Ambitious, driven, and fast learning professional who has transitioned his career from the practice of law to web development. An excellent communicator and team player who now applies the problem-solving and analytic skills acquired through the practice of law to his new career in web development.</p>
                </div>
            </div>
        </div>
    </section>
